.newbod{
    text-align: center;
    /* background-image: "styles/img/Screenshot from 2023-12-28 05-42-32.png"; */
    
}
 .form-signin {
    display: inline-block;
    text-align: center;
    padding: 200px;
  }
  